*,*::before,*::after{
    box-sizing: border-box;
}

footer{
    margin-top: 5rem;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #f1f1f1;
    background-color: rgb(24, 24, 24);
}
.Contact{
    padding: 0;
    padding-left: 50px;
    margin: o;
    float: left;
}
.AdressLam{
    margin:0px;
    padding-top: 10px;
}
.Sociaals{
    padding: 0;
    padding-right: 200px;
    padding-left: 200px;
    margin: 0;
    float: left;
}
.Directnaar{
    padding: 0;
    padding-right: 200px;
    margin: 0;
    float: left;
}
.infolam{
    padding:0% 0;
    margin: 0;
    float: right;
}
a{
    color:#F5F5F5;
}