* {
    box-sizing: border-box
}
.slider{
    position: relative;
    margin: auto;
    max-width: 700px;
    margin-left: 3rem;
    margin-bottom: 6rem;
}

.slider img {
  max-width: 700px;
  max-height: 500px;
}

.mySlides{
    display: none;
    max-width: 700px;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text{ 
    color: #2c2c2c;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    border: solid 1px rgb(189, 189, 189);
}

.numbertext {
    color: #1b1b1b;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 15px;
    background-color: rgb(192, 192, 192);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #222222;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }