@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
  }



  /* Global settings */
body {
    height: 100vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    }
a {
  text-decoration: none;
}

::-webkit-scrollbar {
    width: 5.6px;
    height: 5.6px;
  }

::-webkit-scrollbar-track {
    background: rgba(22, 22, 22, 0);
  }

::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184);
  }

::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }


  /* Menu CSS Section */
.content-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2e2e;
  transition: 0.5s;
}

header {
    position: fixed;
    z-index: 3;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 3%;
    background-color: rgba(24, 24, 24, 0.33);
  }
.logo {
    margin-right: auto;
    max-width: 300px;
    width: 100px;
  }

.cta,
.overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }

.cta {
    margin-left: 20px;
    padding: 7px 35px;
    background-color: rgb(218, 218, 218);
    border: 2px solid rgb(228, 228, 228);
    color: rgb(43, 43, 43);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.9s ease 0s;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.296);
  }

.contact_cta {
  margin-left: 20px;
  padding: 4px 30px;
  background-color: rgb(218, 218, 218);
  border: 2px solid rgb(228, 228, 228);
  color: rgb(43, 43, 43);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.9s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.261);
  font-size: 1rem;
  font-weight: 700;
  color: rgb(43, 43, 43);
}

.cta:hover,
.contact_cta:hover {
    background-color: #2b2b2b;
    color: #d3d3d3;
    border: 2px solid rgb(34, 34, 34);
    }

  /* Mobile Nav */


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    right: 0;
    top: 0;
    background-color: #161616;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }

.overlay--active {
    width: 20%;
  }

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }

.overlay a:hover,
.overlay a:focus {
    color: #0062be;
  }
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
  }



  /* Main Content Section */
.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: white;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.412);
}

.content .textBox h2 span {
  font-size: 2em;
}

.content .textBox p {
  color: white;
  text-shadow:  1px 2px rgba(0, 0, 0, 0.487);
}

.content .textBox a {
  display: inline-block;
  margin-top: 20px;
  background-color: rgb(31, 31, 31);
  color: rgb(228, 228, 228);
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.8s;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}

.content .textBox a:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(43, 43, 43);
  font-size: 1.2em;
}

.review-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(228, 228, 228);
  padding: 20px 15px;
  margin-bottom: 10rem;
  margin-top: 6rem;
}