*,*: before,*after{
    box-sizing: border-box;
}
body{
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}
main{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  rgba(24, 24, 24, 0.33);
    line-height: 3.8;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: white;
    background-color:rgba(24, 24, 24, 0.33);
}